[Unit]
Description=IoTHub Client Daemon

[Service]
WorkingDirectory=/home/{user}/frontdoor-assistant
ExecStart=/usr/bin/python3 /home/{user}/frontdoor-assistant/iothub_client.py
Restart=always
# Restart service after 10 seconds if the program:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=iothub_client-daemon
User={user}

[Install]
WantedBy=multi-user.target